html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.play-ground {
  height: 100vh;
  width: 100vw;
  background-color: #9ed89d;
}

.chat_bar {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  bottom: -400px;
  height: 300px;
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.34);
  padding: 15px;
  transition: bottom .5s ease;
}

.chat_bar_open {
  bottom: 0px;
}

.chat_area {
  width: 100%;
}

.person {

}

.person_head {
  width: 100px;
  
}

